<!-- topbar for the home-style pages -->

<!doctype html>

<script>
function showDropdown() {
    var dropdownMenu = document.getElementById("games-dropdown");
    var isOpen = dropdownMenu.classList.contains('visible');
    dropdownMenu.classList.toggle('visible');

    document.getElementById("dropdown-button").classList.toggle("dropdown-open");
}
</script>

{% capture divider %}
<li class="home-navitem"><i class="fa-solid fa-fish-fins divider"></i></li>
{% endcapture %}

<div id="Homebar" class="homebar {% if page.topbar-style %}{{ page.topbar-style }}{% endif %}">
    <ul class="home-navbar">
        <img src="/assets/img/general/profile-picture-transparent.png" class="logo" alt="GIANTBOAR profile picture">
        <a class="giantboar-title" href="/">{{ site.title }}</a>

        <li class="home-navitem"><a href="/">CV</a></li>
        <li class="home-navitem"><a href="/blog/">BLOG</a></li>

        {{ divider }}

        <li class="home-navitem{% if page.url contains 'games' %}{{ " active" }}{% endif %}">
            <button onClick="showDropdown()" id="dropdown-button">GAMES <i class="fa-fw fas fa-caret-down"></i></button>
        </li>
        <li class="home-navitem{% if page.url == '/' %}{{ " active" }}{% endif %}"><a href="/">HOME</a></li>
    </ul>
</div>

<div id="games-dropdown" class="homebar navbar-dropdown {% if page.topbar-style %}{{ page.topbar-style }}{% endif %}">
    <ul class="home-navbar">
        {% for game in site.games reversed %}
            <li class="home-navitem"><a href="{{ game.url }}" class="dropdown-link">{{ game.title | upcase }}</a></li>
        {% endfor %}
    </ul>
</div>

<div style="height: 90px;"></div>