@mixin styles{
    // general colours
    --main-bg: #201f26;
    --main-header: #ffffff;
    --main-text: #b8b6c7;

    --accent-blue: #777da1;
    --accent-red: #df928e;
    --accent-yellow: #e6c550;
    --accent-green: #85c3a6;

    // homebar colours
    --homebar-colour: var(--accent-blue);
    --homebar-navitem: #ffffff;
    --homebar-navitem-active: #8d93ba;
    --homebar-navitem-hover: var(--accent-red);

    --homebar-games-colour: var(--accent-red);
    --homebar-games-navitem-active: #df928e;
    --homebar-games-navitem-hover: var(--accent-yellow);

    --homebar-expand-colour: var(--accent-green);
    --homebar-expand-navitem-active: #93d4b6;
    --homebar-expand-navitem-hover: var(--accent-red);

    // footer colours
    --footer-colour: #4f546d;
    --footer-text: #b8b6c7;

    // homepage
    --banner-bg: #464154;

    // blog page
    --post-preview-bg: #27262f;
    --post-preview-active: #464154;

    --post-preview-text: #9593a3;
    --post-preview-header: #b8b6c7;

    --blog-navbox-bg: var(--accent-blue);


    // code syntax
    --code-bg: #0D1B2A;
    --code-highlight: #0D1B2A;

    --code-font-size: 10pt;
    --code-default: #CEC3C1;
    --code-punctuation: #b0a6a4;
    --code-comment: #726d6d;

    --code-keyword: #9B7EDE;
    --class-name: #DE3C4B;
    --function-name: #DE3C4B;
    --code-operator: #DE3C4B;

    --literal-string: #EAC435;
    --literal-number: #9B7EDE;

    pre {
        font-size: var(--code-font-size);
    }

    .lineno {
        padding-right: 6px;
        text-align: right;
    }

    .highlight {
        pre { background-color: var(--code-bg); }
        .hll { background-color: var(--code-highlight); }
        .c { color: var(--code-comment) } /* code-comment */
        .err { color: #960050; background-color: #1e0010 } /* Error */
        .k { color: var(--code-keyword) } /* code-keyword */
        .l { color: var(--literal-number) } /* Literal */
        .n { color: var(--code-default) } /* Name */
        .o { color: var(--code-operator) } /* code-operator */
        .p { color: var(--code-punctuation) } /* Punctuation */
        .cm { color: var(--code-comment) } /* code-comment.Multiline */
        .cp { color: var(--code-comment) } /* code-comment.Preproc */
        .c1 { color: var(--code-comment) } /* code-comment.Single */
        .cs { color: var(--code-comment) } /* code-comment.Special */
        .ge { font-style: italic } /* Generic.Emph */
        .gs { font-weight: bold } /* Generic.Strong */
        .kc { color: var(--code-keyword) } /* code-keyword.Constant */
        .kd { color: var(--code-keyword) } /* code-keyword.Declaration */
        .kn { color: var(--code-operator) } /* code-keyword.Namespace */
        .kp { color: var(--code-keyword) } /* code-keyword.Pseudo */
        .kr { color: var(--code-keyword) } /* code-keyword.Reserved */
        .kt { color: var(--code-keyword) } /* code-keyword.Type */
        .ld { color: var(--literal-string) } /* Literal.Date */
        .m { color: var(--literal-number) } /* Literal.Number */
        .s { color: var(--literal-string) } /* Literal.String */
        .na { color: var(--class-name) } /* Name.Attribute */
        .nb { color: var(--code-default) } /* Name.Builtin */
        .nc { color: var(--class-name) } /* Name.Class */
        .no { color: var(--code-keyword) } /* Name.Constant */
        .nd { color: var(--class-name) } /* Name.Decorator */
        .ni { color: var(--code-default) } /* Name.Entity */
        .ne { color: var(--class-name) } /* Name.Exception */
        .nf { color: var(--function-name) } /* Name.Function */
        .nl { color: var(--code-default) } /* Name.Label */
        .nn { color: var(--code-default) } /* Name.Namespace */
        .nx { color: var(--class-name) } /* Name.Other */
        .py { color: var(--code-default) } /* Name.Property */
        .nt { color: var(--code-operator) } /* Name.Tag */
        .nv { color: var(--code-default) } /* Name.Variable */
        .ow { color: var(--code-operator) } /* code-operator.Word */
        .w { color: var(--code-default) } /* Text.Whitespace */
        .mf { color: var(--literal-number) } /* Literal.Number.Float */
        .mh { color: var(--literal-number) } /* Literal.Number.Hex */
        .mi { color: var(--literal-number) } /* Literal.Number.Integer */
        .mo { color: var(--literal-number) } /* Literal.Number.Oct */
        .sb { color: var(--literal-string) } /* Literal.String.Backtick */
        .sc { color: var(--literal-string) } /* Literal.String.Char */
        .sd { color: var(--literal-string) } /* Literal.String.Doc */
        .s2 { color: var(--literal-string) } /* Literal.String.Double */
        .se { color: var(--literal-number) } /* Literal.String.Escape */
        .sh { color: var(--literal-string) } /* Literal.String.Heredoc */
        .si { color: var(--literal-string) } /* Literal.String.Interpol */
        .sx { color: var(--literal-string) } /* Literal.String.Other */
        .sr { color: var(--literal-string) } /* Literal.String.Regex */
        .s1 { color: var(--literal-string) } /* Literal.String.Single */
        .ss { color: var(--literal-string) } /* Literal.String.Symbol */
        .bp { color: var(--code-default) } /* Name.Builtin.Pseudo */
        .vc { color: var(--code-default) } /* Name.Variable.Class */
        .vg { color: var(--code-default) } /* Name.Variable.Global */
        .vi { color: var(--code-default) } /* Name.Variable.Instance */
        .il { color: var(--literal-number) } /* Literal.Number.Integer.Long */

        .gh { } /* Generic Heading & Diff Header */
        .gu { color: var(--code-comment); } /* Generic.Subheading & Diff Unified/code-comment? */
        .gd { color: var(--code-operator); } /* Generic.Deleted & Diff Deleted */
        .gi { color: var(--class-name); } /* Generic.Inserted & Diff Inserted */
        .gl { color: var(--code-comment) } // line numbers
    }
}