#post-list {
    display: flex;
    flex-direction: column;

    margin: calc($homebar-height + $homebar-zigzag-height) auto 0 auto;
    width: 800px;
}

#blog-sidebar {
    position: fixed;
    height: 100%;
    left: 0;
}

// the small card used to represent posts in the paginator
.post-card {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px;
}

.post-preview {
    display: block;
    padding: 20px;
    background-color: var(--post-preview-bg);

    transition: background-color 0.2s ease-in-out;

    color: var(--post-preview-text);

    h1 { margin-top: 0; }
    p { margin-bottom: 0; }
    
    text-decoration: none;
}
.post-preview:hover {
    background-color: var(--post-preview-active);
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.151));
}
