
.blog-container {
    display: flex;

    width: 800px; 
    height: 100%; 
    border: 1px solid blue;
    position: relative; 
    margin: var(--blog-navbox-top-spacing) 20% 0 auto;
}

#post-list {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.navbox-positioner {
    // the positioner element for the navbox
    position: absolute;
    left: calc(var(--blog-navbox-width) * -1 + var(--blog-navbox-spacing) * -1);
}
.blog-navbox {
    width: var(--blog-navbox-width); 
    border: 1px solid red; 
    height: 100px; 
    position: fixed; 
    top: var(--blog-navbox-top-spacing); 
    margin-right: 15px;
}

// the small card used to represent posts in the paginator
.post-card {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px;
    min-height: 200px;
    height: fit-content;
}

.post-preview {
    height: 100%;
    width: 100%;

    display: flex;
    background-color: var(--post-preview-bg);

    transition: background-color 0.2s ease-in-out;
    
    text-decoration: none;
}
.post-preview:hover {
    background-color: var(--post-preview-active);
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.151));
}

.post-preview .post-info {
    display: flex;
    flex-direction: column;

    padding: 20px;
    flex: 1;

    h1 {
        font-weight: normal;
        color: var(--post-preview-header);
        margin-top: 0;
    }
    p {
        color: var(--post-preview-text);
        margin-bottom: 0;
    }
}

.post-preview .preview-img {
    //height: 100%;
}