// homebar

@mixin variables{
    --homebar-height: 80px; // height of the homebar in pixels
    --homebar-zigzag-height: 16px; // height of the zigzags on the header in pixels

    --footer-height: 60px;
    --footer-zigzag-height: var(--homebar-zigzag-height); // height of the zigzags on the footer in pixels (should match header)

    --blog-navbox-width: 400px; // width of the navigation box beside the post list on the blog page
    --blog-navbox-spacing: 20px; // spacing between the navbox and the post list (navbox floats on the left side)
    --blog-navbox-top-spacing: 120px; // spacing between the navbox and the top of the page
}
