<!DOCTYPE html>

{% capture homebar-hidden %}
<script>
    window.onload = function() {
         var navVisible = localStorage.getItem("navbar-visible");

        if (navVisible == null) { localStorage.setItem("navbar-visible", "true") }
        
        if (navVisible != "true") { 
            var homebar = document.getElementById("homebar");
            homebar.classList.add("animate-shown");

            localStorage.setItem("navbar-visible", "true");
        }
    }
</script>
{% endcapture %}

<html>
    {% include head.html %}
    <body>
        {% include homebar.html %}

        {{ content }}

        {% include footer.html %}
    </body>
</html>