---
layout: boar
refactor: true
---

{% assign pagestyle = page.title | downcase | replace: ' ', '-' %}
{% assign mstyle = page.style %}
{% assign tstyle = page.topbar-style %}

<body id="pagelayout" {% if page.style and mstyle %}class="{{ pagestyle }}"{% endif %}>
    {% include home-topbar.html %}

    <div class="container">
        {% if layout.refactor %}
            {% include refactor-content.html content=content lang=lang %}
        {% else %}
            {{ content }}
        {% endif %}
    </div>

    {% include home-footer.html %}
</body>