---
layout: boar
---

<body id="pagelayout" class="homepage-layout">
    {% include home-topbar.html %}

    <div class="header-container">
        <img src="../assets/img/general/header.gif" alt="Header Artwork" class="header-image">
    </div>

    <div class="container">
        <div class="homepage-widget dshadow" style="background-color: #51577eff;">
            <div class="widget-row widget-divider-bottom">
                <div class="widget-column centred hide-small" style="min-width: 200px;">
                    <img src="../assets/img/general/profile-picture.png" alt="GiantBoar Picture" class="giantboar-icon">
                </div>
                <div class="widget-column" style="flex-grow: 3; padding-left: 0">
                    <h1 style="text-align: left;">MAX PATTESON</h1>
                    <p>Hello! I'm Max, a <b>game developer and programmer</b> from England studying a <b>BSc (Hons) in Computing Science</b> at the University of East Anglia. I've been developing games since I was 15, and designing games for even longer. I'm experienced in a <b>range of languages and programs</b> (as seen below), but I'm always looking for areas to improve and things to learn.</p>
                    <p>I got a <b>Distinction*</b> studying game design and programming in college where I developed various games in Unity using C#, before pivoting over to Godot to make use of its open-source framework.</p>
                </div>
            </div>

            <div class="widget-column" style="padding-top: 0">
                <div class="widget-row">
                    <ul class="experience-list" style="width: 100%;">
                        <li><i class="fa-solid fa-graduation-cap"></i><p><b>Distinction* - Level 3 Extended Diploma in Art and Design</b> - Game Design at Access Creative College Norwich</p></li>
                    </ul>
                </div>

                <div class="widget-row">
                    <ul class="experience-list" style="width: 100%;">
                        <li><i class="fa-solid fa-trophy"></i><p><b>Game of the Year</b> - Access 2022 for The Pilgrim</p></li>
                        <li><i class="fa-solid fa-medal"></i><p><b>Prize Winner</b> - Staffs Freshers Jam for Wire Runner</p></li>
                    </ul>
                </div>
            </div>
        </div>
        
        {% comment %}
        <div class="homepage-widget dshadow" style="background-color: #4f6b66ff">
            <div class="widget-column" style="width: 100%;">
                <div class="widget-row">
                    <ul class="experience-list" style="width: 100%;">
                        <li><i class="fa-solid fa-graduation-cap"></i><p><b>Distinction* - Level 3 Extended Diploma in Art and Design</b> - Game Design at Access Creative College Norwich</p></li>
                    </ul>
                </div>

                <div class="widget-row">
                    <ul class="experience-list" style="width: 100%;">
                        <li><i class="fa-solid fa-trophy"></i><p><b>Game of the Year</b> - Access 2022 for The Pilgrim</p></li>
                        <li><i class="fa-solid fa-medal"></i><p><b>Prize Winner</b> - Staffs Freshers Jam for Wire Runner</p></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endcomment %}

        <div class="homepage-widget widget-row" style="padding: 0;">
            <div class="widget-column skill-list dshadow" style="background-color: #9b514b">
                <h2>Software</h2>

                <ul>
                    {% include details/skillitemcolor.html skilltext="Visual Studio" %}
                    {% include details/skillitemcolor.html skilltext="Unity" skilllink="/blog/tags/unity" %}
                    {% include details/skillitemcolor.html skilltext="Godot" skilllink="/blog/tags/godot" %}
                    {% include details/skillitemcolor.html skilltext="Blender" %}
                    {% include details/skillitemcolor.html skilltext="Github" %}
                    
                    {% include details/skillitemcolor.html skilltext="Photoshop" %}
                    {% include details/skillitemcolor.html skilltext="Unreal Engine" %}
                </ul>
            </div>

            <div class="widget-column skill-list dshadow" style="background-color: #9b514b">
                <h2>Languages</h2>

                <ul>
                    {% include details/skillitemcolor.html skilltext="C#" skilllink="/blog/tags/c#" %}
                    {% include details/skillitemcolor.html skilltext="C++" %}
                    {% include details/skillitemcolor.html skilltext="C" %}

                    {% include details/skillitemcolor.html skilltext="Python" %}
                    {% include details/skillitemcolor.html skilltext="GDScript" %}
                    
                    {% include details/skillitemcolor.html skilltext="HTML & Liquid" %}
                    {% include details/skillitemcolor.html skilltext="CSS & SCSS" %}
                    {% include details/skillitemcolor.html skilltext="Unreal Blueprint" %}
                </ul>
            </div>

            <div class="widget-column skill-list dshadow" style="background-color: #9b514b">
                <h2>Fields</h2>

                <ul>
                    {% include details/skillitemcolor.html skilltext="Gameplay" %}
                    {% include details/skillitemcolor.html skilltext="Programming" %}
                    {% include details/skillitemcolor.html skilltext="Art & Design" %}
                    {% include details/skillitemcolor.html skilltext="Composition" %}
                    
                    {% include details/skillitemcolor.html skilltext="Software Architecture" %}
                    {% include details/skillitemcolor.html skilltext="UI & UX" %}
                </ul>
            </div>
        </div>

        <div class="homepage-widget dshadow midnight-transmission" style="background-image: none; padding: 0">
            <div class="container" style="width: 100%; padding: 30px !important;">
                <h1 style="margin-top:0">Featured Game</h1>

                <a href="/games/midnight-transmission">
                    <img class="title-image" alt="midnight transmission logo" src="../assets/games/midnight-transmission/mt-logo.gif">
                </a>

                <p><strong>Midnight transmission</strong> is a 2D top-down exploration game about a surreal interconnected world; explore abstract and absurd areas collecting tools that can change the environment or improve exploration. <br>
                The game was developed in Godot with GDScript by a team of <strong>three core developers</strong> and a small team of <strong>collaborative developers</strong>. 
                The unique visual style comes from how much we've capitalised on the game as a collaborative effort, using composers, artists, and developers with a wide range of aesthetics.</p>

                <div class="image-row" style=" padding: 20px 0px">
                    <img src="../assets/games/midnight-transmission/mt-snowy-forest.png">
                    <img src="../assets/games/midnight-transmission/mt-clay.png">
                    <img src="../assets/games/midnight-transmission/mt-neon.png">
                </div>

                <p style="width: 100%; text-align: center; margin:0"><strong>See the full portfolio page for the game <a href="/games/midnight-transmission">here</a></strong></p>
            </div>
        </div>

        <div class="homepage-widget" style="padding: 1rem 0 0 0;">
            <h1>FRIENDS OF BOAR</h1>
            <ul class="friend-holder">
                {% include friend-card.html name="Thomas Baynham" description="Computer games programmer and martial artist" website="https://thomasbaynham.rocks/" github="https://github.com/Thomas-FullPower" %}
                {% include friend-card.html name="FloretDev" altname="Haven Blakely-Rivers" description="Games designer and programmer I've worked with many times!" website="https://thomasbaynham.rocks/" github="https://github.com/Thomas-FullPower" %}
                {% include friend-card.html name="Liammb" description="Talented games designer" website="https://thomasbaynham.rocks/" github="https://github.com/Thomas-FullPower" %}
            </ul>
        </div>
    </div>

    {% include home-footer.html %}
</body>