@use '../abstracts/breakpoints' as bp;
@use '../abstracts/mixins' as mx;
@use '../abstracts/variables' as v;

// used for both general and game-specific page styles

@font-face {
    font-family: AriW;
    src: url("../../assets/font/ari-w9500.ttf");
}
@font-face {
    font-family: AriW;
    src: url("../../assets/font/ari-w9500-bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: AriWDisplay;
    src: url("../../assets/font/ari-w9500-display.ttf");
}
@font-face {
    font-family: AriWDisplay;
    src: url("../../assets/font/ari-w9500-condensed-display.ttf");
    font-stretch: condensed;
}
@font-face {
    font-family: AriW;
    src: url("../../assets/font/ari-w9500-condensed.ttf");
    font-stretch: condensed;
}
@font-face {
    font-family: AriW;
    src: url("../../assets/font/ari-w9500-condensed-bold.ttf");
    font-stretch: condensed;
}

@font-face {
    font-family: TheBoldFont;
    src: url("../../assets/font/THEBOLDFONT-FREEVERSION.ttf");
}

@font-face {
    font-family: Pixellari;
    src: url("../../assets/font/Pixellari.ttf");
}

@font-face {
    font-family: Tondu;
    src: url("../../assets/font/Tondu-Beta.ttf");
}



.giantboar-icon {
    border-radius: 50%;

    @include mx.ml-mr(1rem);
}

.dev-widget-container {
    list-style-type: none;
    padding: 0 0;
    
    text-align: center;
    
    .dev-widget {
        display: inline-block;
        min-width: 300px;

        border-style: solid;
        border-width: 1px;
        border-color: #ffffff;

        margin: 6px 4px;
        padding: 8px 8px;

        mask: repeating-conic-gradient(from 45deg at 15px 50%,#0000,#000 1deg 89deg,#0000 90deg 180deg) -15px 50%/100% 30px;

        .dev-icon {
            width: 100px;
            border-radius: 50%;

            margin: 1rem 0 1.5rem 0;
        }

        ul {
            padding: 0 0;
            list-style-type: none;
            
            li {
                display: inline-block;
                padding: 4px 4px;
                font-size: 1.4rem;
            }
        }
    }
}

.midnight-transmission {
    --mt-bg: #28112e;
    --mt-header: #80185a;
    --mt-header-active: #921f68;
    --mt-footer: #5b1240;

    --mt-dropdown: #f2a441;
    --mt-dropdown-active: #ffbb63;

    --mt-text: #d9d9d9;
    --mt-text-important: #cd5296;

    background: var(--mt-bg);

    .title-image {
        width: 80%;
        image-rendering: pixelated;
        aspect-ratio: 2.5 / 1;

        display: flex;
        margin: 0 auto;
        
        filter: drop-shadow(0 0 1rem rgb(50, 103, 216));
    }

    .dev-widget {
        background: #3d163d;
        border-width: 0;
        border-radius: 10px;
    }

    .container {
        h1 {
            color: var(--mt-dropdown);
            height: 40px;
            justify-self: center;
            font-weight: normal;
            
            margin-top: 3rem;
            margin-bottom: 1rem;

            font-family: AriWDisplay;
        }
        h1::before {
            content: url("../../assets/games/midnight-transmission/mt-tape.png");
            image-rendering: pixelated;
            padding-right: 16px;
        }
        h1::after {
            vertical-align: baseline;
            content: url("../../assets/games/midnight-transmission/mt-tape-flip.png");
            image-rendering: pixelated;
            padding-left: 16px;
        }
        h2 {
            color: var(--mt-text-important);
            font-family: AriWDisplay;
            letter-spacing: 1px;
            
            margin-top: 1rem;
            font-weight: bold;
        }
        h3 {
            color: var(--mt-text-important);
            font-family: AriWDisplay;
        }

        p {
            font-family: AriW;
            color: var(--mt-text);
        }
        strong {
            color: var(--mt-dropdown);
        }
        a {
            //color: #c74b85;
            color: var(--mt-text);
            font-weight: bold;
            text-decoration: underline;
        }
        a:hover{
            //color: #e76ba5;
            color: #ffffff;
        }
    }
}
.homebar.midnight-transmission {
    background-color: var(--mt-header);

    .giantboar-title {
        font-family: AriWDisplay;
        font-size: 1.5rem;
        letter-spacing: 1px;

        margin-top: 0.9rem;
    }

    ul.home-navbar li.home-navitem {
        a:hover, button:hover {
            background-color: var(--mt-header-active);

            &.dropdown-link {
                background-color: var(--mt-dropdown-active);
            }
        }
        
        a, button{
            font-family: AriW;
            font-weight: bold;
        }

        &.active {
            a, button {
                background-color: var(--mt-dropdown);
            }
        }
    }
}
#homefooter.midnight-transmission {
    background: var(--mt-footer);
}
.navbar-dropdown.midnight-transmission {
    background-color: var(--mt-dropdown);
}

.lamplight {
    --ll-bg: #000000;
    --ll-clouds: #2b2a36;

    background: var(--ll-bg);

    .title-image {
        width: 100%;
        image-rendering: pixelated;
    }

    .container {
        padding: 0 0;
    }
    .subcontainer {
        padding: 10px 10px;
        
        background: var(--ll-clouds);
    }

    h1 {
        font-family: Pixellari;
        font-weight: bold;
        text-align: center;
    }
    p {
        color: #cccccc;
        font-family: AriW;
    }
}

.image-row {
    display: flex;
}